<!DOCTYPE html>
<html>

<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-172085084-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-172085084-2');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: "Roboto", sans-serif
    }
  </style>
  <title>OLEG MANDRYCHENKO</title>
</head>

<body class="w3-light-grey">
  <div class="w3-content w3-margin-top" style="max-width:1360px;">
    <div class="w3-row-padding">
      <div class="w3-third">
        <div class="w3-white w3-text-grey w3-card-4">
          <div class="w3-display-container">
            <div class="w3-display-topleft w3-container w3-text-white">
              <h2>OLEG MANDRYCHENKO</h2>
            </div>
            <img src="https://olg-man.github.io/cv/img/myphoto2.jpg" style="width:100%" alt="Avatar">
          </div>
          <div class="w3-container">
            <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Dnipro, Ukraine</p>
            <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>mandrik89@gmail.com</p>
            <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>+380953827681</p>
            <p><a href="https://t.me/Olegan89"><i
                  class="fa fa-telegram fa-fw w3-margin-right w3-xlarge w3-text-teal"></i></a>
              <a href="https://www.linkedin.com/in/oleg-mandrychenko-b55719158/"><i
                  class="fa fa-linkedin w3-margin-right w3-xlarge w3-text-teal"></i></a>
              <a href="https://github.com/OLG-MAN?tab=repositories"><i
                  class="fa fa-github w3-margin-right w3-xlarge w3-text-teal"></i></a></p>
            <hr>
            <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
            <p class="w3-large">Basic Knowledge</p>
            <p><b>Languages</b></p>
            <p>Python 3, PHP 7, JS(es6+).</p>
            <div class="w3-light-grey w3-round-xlarge">
                <div class="w3-round-xlarge w3-teal" style="height:24px;width:60%"></div>
              </div>
            <p><b>Web-technologies. Frameworks.</b></p>
            <p>HTML5, CSS3, Bootstrap, Symphony.</p>
            <div class="w3-light-grey w3-round-xlarge">
                <div class="w3-round-xlarge w3-teal" style="height:24px;width:60%"></div>
              </div>
            <p><b>Techs and tools</b></p>            
            <p>Git, Github, Linux terminal, MySQL, Workbench, phpMyAdmin</b></p>
            <div class="w3-light-grey w3-round-xlarge">
              <div class="w3-round-xlarge w3-teal" style="height:24px;width:70%"></div>
            </div>
            <p><b>Devops technologies and tools</b></p>
            <p>AWS services<a href="http://olegm.pp.ua">(details here)</a>, Github actions, Docker.</p> 
            <div class="w3-light-grey w3-round-xlarge">
              <div class="w3-round-xlarge w3-teal" style="height:24px;width:60%"></div>
            </div>
            <br>
            <p class="w3-large w3-text-theme"><b><i
                  class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
            <p><b>English (B1)</b></p>
            <div class="w3-light-grey w3-round-xlarge">
              <div class="w3-round-xlarge w3-teal" style="height:24px;width:65%"></div>
            </div>
            <p><b>Chinese (HSK2)</b></p>
            <div class="w3-light-grey w3-round-xlarge">
              <div class="w3-round-xlarge w3-teal" style="height:24px;width:20%"></div>
            </div>
            <p><b>Russian (native)</b></p>
            <div class="w3-light-grey w3-round-xlarge">
              <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
            </div>
            <br>
            <p><b>Ukrainian (native)</b></p>
            <div class="w3-light-grey w3-round-xlarge">
              <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
            </div>
            <br>
          </div>
        </div><br>
      </div>

      <div class="w3-twothird">

        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16"><i
              class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education and Courses</h2>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>EPAM Frount-end courses. 1 stage.</b></h5>
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>09.2019 - 11.2020</h6>
            <hr>
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Skillup Courses. PHP-development.</b></h5>
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>12.2019 - 04.2020</h6>
            <hr>
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Learn.by education platform. Software testing introduction.</b></h5>
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>02.2020 - 03.2020</h6>
            <hr>
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>ITVDN education platfrom. QA Starter.</b></h5>
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>01.2020 - 02.2020</h6>
            <hr>
          </div>    
        </div>

        <div class="w3-container w3-card w3-white w3-margin-bottom">
            <h2 class="w3-text-grey w3-padding-16"><i
                class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>DevOps Course Links</h2>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>AWS progress page.</b></h5>
              <h6 class="w3-text-teal"><b><a href="http://olegm.pp.ua">APP Page link</a></b></h6>
              <hr>
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>GitHub HW tasks.</b></h5>
              <h6 class="w3-text-teal"><b><a href="https://github.com/OLG-MAN/DevOps_online_Dnipro_2020Q42021Q1">Github link</a></b></h6>
              <hr>
            </div>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>GitHub Project.</b></h5>
                <h6 class="w3-text-teal"><b><a href="https://github.com/OLG-MAN/DevOps_online_Dnipro_2020Q42021Q1/tree/main/project">Github link</a></b></h6>
                <hr>
                <h5 class="w3-opacity"><b>CI/CD flask app. Using techs - Github actions, S3, Elasticbeanstalk. Described in task 2.2.
                    <br>This CV also availbe on app page.</b></h5>
                <h6 class="w3-text-teal"><b><a href="http://olegm.pp.ua/cv">CV Page</a></b></h6>
                <hr>
              </div>    
          </div>

        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16">
            <i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Summary</h2>
          <h5 class="w3-opacity">
              <b>I have extensive experience working abroad in the field of entertainment and sales.<br>
                Now have my own e-commerce project <br>
                No have commercial experience in IT companies.</b><br><br>              
        </div>

        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16"><i
              class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Have my own e-commerce pet project</b></h5>
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>from 07.2020</h6>
            <hr>
          </div>
        </div>

      </div>
    </div>
  </div>

  <footer class="w3-container w3-teal w3-center w3-margin-top">
    <p>2020</p>
  </footer>
</body>

</html>
